/* GLOBAL  */
.App {
}

.App-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 225px;
}


/* HEADER  */
.app-header {
  height: 50px;
  width: 100%;
  background-color: pink;
  position: fixed;
  top: 0;
  border-bottom: solid 3px #ff636e;
}

.navbar-icon-class {
  position: fixed;
  right: 0;
  margin-top: -110px;
}

.navbar-icon-color-class {
  color: #ff636e !important;
}

.account-label-class {
  position: absolute;
  top: 0;
  left: 130px;
  margin-top: 15px;
}

.account-address-class {
  position: absolute;
  width: 85%;
  top: 0;
  left: 205px;
  margin-top: -5px;
}

.account-address-class p {
  position: absolute;
  top: 18px;
  left: -195px;
  margin-top: -5px;
  height: 22px;
  width: 105px;
  text-align: center;
  padding-top: 5px;
  background-color: #ffdede;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  border: #ff636e 3px solid;
}


/* BODY */
.app-body {
  text-align: center;
  margin: 7rem 9rem 5rem 9rem;
}

.crepe-body-logo-class {
  width: 225px;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.section-centered {
  text-align: center;
  max-width: 720px;
  margin: 4rem auto 8rem auto;
}

/* Override Material UI radio buttons */
.MuiRadio-colorSecondary.Mui-checked {
  color: #ff636e !important;
}

.radio-button-container-class {
  margin-right: 20px;
}

.radio-input-class {
  margin: 0px 15px 0px 0px;
}

.radio-input-button-class {
  cursor: pointer;
}

.radio-label-class {
  margin-top: auto;
  margin-bottom: auto;
}

  /* HOME COMPONENT */
  .icon-background-card-class {
    margin: 50px 50px 150px 50px;
    background-color: #ff636e;
    cursor: pointer;
  }

  .icon-background-card-class:hover {
    background-color: #c43a43;
    cursor: pointer;
  }
  
  .MuiIconButton-colorSecondary {
    color: #ff636e !important;
  }

  /* ABOUT COMPONENT */
  .about-crepe-img-class {
    width: 250px;
  }

  /* CREATE COMPONENT */
  .form-class {
    height: auto;
  }

  /* Override Material UI button */
  .MuiButton-containedSecondary {
    color: #fff !important;
    background-color: #ff636e !important;
  }

  /* Override Material UI Datepicker */
  .MuiFormLabel-root.Mui-focused {
    color: #ff636e !important;
  }

  .MuiInput-underline:after {
    border-bottom: 2px solid #ff636e !important;
  }

  .bottom-form-class {
    padding-top: 25px;
  }

  /* SEARCH COMPONENT */



/* FOOTER */
.app-footer {
  height: 225px;
  width: 100%;
  background-color: pink;
  position: absolute;
  bottom: 0;
  border-top: solid 5px #ff636e;
}

.crepe-footer-logo-class {
  margin-top: 35px;
  margin-left: 4%;
  width: 75px;
}

.footer-sourcemap-wrapper {
  padding-left: 6rem;
}

.footer-hyperlink-wrapper {
  position: absolute;
  margin-left: 11%;
  margin-top: -105px;
  white-space: nowrap;
}

.footer-hyperlink-wrapper ul {
  list-style-type: none;
}

.footer-hyperlink-wrapper li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-hyperlink-wrapper a {
  color: black;
  text-decoration: none;
}

.footer-col-one {
  margin-top: 12px;
  margin-left: 15%;
  display: inline-block;
}

.footer-col-two {
  margin-left: 30%;
  display: inline-block;
}

.footer-subtext-class {
  font-size: 12px;
  text-align: center;
  margin-top: 55px;
  color: black;
}

.logo-attribution-text-class {
  margin-top: 0px;
}
